
.Selecet1
{
        width: 25px;
        height: 45px;
        border: medium ;
        position: relative;    
       left: 75rem;
       top: 6.7rem;
}
.options{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    height:  50px;
    width: 150px;
}

.options  option{
    text-align: center;
}
